body {
    margin: 0 auto;
    padding: 0;
}

/*导航栏框*/
#header {
    color: white;
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

/*logo*/
#logo {
    height: 100%;
    margin: 0;
    padding: 0;
}

#logo img {
    width: auto;
    height: 70px;
}

#navigation {
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 22px 0;
    box-sizing: border-box;
}

#navigation a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    cursor: pointer;
}

#navigation a:hover {
    font-weight: bold;
}


/*37C6C0*/